* {
  box-sizing: border-box
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(-45deg, #ff3c00, #ff0062, #00bbff, #00ffc3);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


/* Side nav starts here */
#Sidenav a {
  position: absolute;
  left: -110px;
  transition: 0.3s;
  padding: 15px;
  width: 160px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-radius: 0 5px 5px 0;
}

#Sidenav a:hover {
  left: 0;
}

#about {
  top: 20px;
  background-color: #000000;
}

#blog {
  top: 80px;
  background-color: #000000;
}

#projects {
  top: 140px;
  background-color: #000000;
}

#contact {
  top: 200px;
  background-color: #000000;
}

/* Side nav ends here */

/* heading starts here */
.p-text {
  position: relative;
  top: 16vw;
  left: 20vw;
  color: #ffffff;
  text-decoration: underline;
  font-size: 4rem;
  display: block;
  width: 70%;
}

.h-text {
  font-size: 4rem;
  font-weight: bold;
  padding: 10px;
  width: 50%;
  /* margin: 0px auto; */
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 25vw;
  left: 15vw;
  color: #1D1F20;
}

/* h-text animation */
@keyframes h-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.below-text {
  position: relative;
  top: 24vw;
  left: 20vw;
  color: #ffffff;
  font-style: italic;
  font-size: 2.6rem;
  display: block;
  width: 50%;
}



@media screen and (max-width: 950px) {
  .h-text {
    font-size: 4.3rem;
    top: 45vw;
    left: 10vw;
  }

  .p-text {
    display: none;
  }

  .below-text {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .h-text {
    font-size: 3.3rem;
    top: 45vw;
    left: 25vw;
  }

  .p-text {
    display: none;
  }

  .below-text {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .h-text {
    font-size: 3rem;
    top: 40vh;
    left: 10vw;
  }

  .p-text {
    display: none;
  }

  .below-text {
    display: none;
  }
}

.text-pop-up-top {
  -webkit-animation: text-pop-up-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: text-pop-up-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
}

/* test pop up top animation */
/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #3caeff, 0 2px 0 #46b2ff, 0 3px 0 #35e0fe, 0 4px 0 #58e5fe,
      0 5px 0 #72FFFF, 0 6px 0 #72FFFF, 0 7px 0 #cccccc, 0 8px 0 #cccccc,
      0 9px 0 #51e5ff, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #78c7ff, 0 2px 0 #89ceff, 0 3px 0 #8beeff, 0 4px 0 #8eeeff,
      0 5px 0 #9bffff, 0 6px 0 #8effff, 0 7px 0 #9dffff, 0 8px 0 #a7ffff, 0 9px 0 #bdffff,
      0 50px 30px rgba(0, 0, 0, 0.436);
  }
}


.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 35vw; */
}

/* parallax */
.parallax {
  /* The color used */
  /* background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */



  /* Full height */
  height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* responsive iframes */
.yt-container {
  position: relative;
  width: 50%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
  display: flex;
}

.yt-container img {
  height: 280px;
  width: 280px;
  position: absolute;
  top: 10vh;
  left: 10vw;
  border-radius: 50%;
}

strong {
  position: relative;
  top: -49vw;
  right: -50vw;
  font-size: 2.2rem;
  color: white;
  background: #21FFFF;
  background: linear-gradient(to right, #ff3c00, #ff0062, #00bbff, #00ffc3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: h-gradient 8s ease infinite;
}

@keyframes h-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.cnt1 {
  color: white;
  position: absolute;
  top: 11vw;
  right: -15vw;
  font-size: 2.2rem;
}

#subCount {
  color: rgb(255, 0, 0);
  font-weight: bolder;
}

/* Clash Royale Subscribe button */
.subscribe {
  position: relative;
  top: -48vh;
  left: -18vw;
  min-width: 130px;
  height: 40px;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #1D1F20;
  box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
  font-size: 1rem;
}

.subscribe a {
  color: rgb(255, 255, 255);
}

.subscribe:hover {
  box-shadow: none;
  border: 1px solid white;
}
.subscribe:active {
  box-shadow: inset 2px 2px 4px #c8d0e7, inset -1px -1px 3px #fff;
}


.subscribe:hover {}

.channel-content {
  position: absolute;
  top: 50vh;
  left: 50vw;
  color: white;
  width: 90%;
  font-size: 1.5rem;
}

/* media queries for iframe container */

@media screen and (max-width: 1100px) {
  .container {}

  .responsive-iframe {
    top: 0;
    left: 0;
  }

  strong {
    top: -49vw;
    right: -50vw;
    font-size: 2rem;
  }

}

@media screen and (max-width: 800px) {
  .container {}

  .responsive-iframe {
    top: 0;
    left: 0;
  }

  strong {
    top: -49vw;
    right: -50vw;
    font-size: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .container {}

  .responsive-iframe {
    top: 0;
    left: 0;
  }

  strong {
    top: -49vw;
    right: -50vw;
    font-size: 2rem;
  }
}



/* parallax1 */
.parallax1 {
  /* The color used */
  /* background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%); */
  opacity: 0%;
  /* Full height */
  height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#instagram {
  text-align: center;
  margin: 0;
  position: relative;
  top: 2vw;
  background: #45f9ff;
  background: linear-gradient(to right, #45f9ff 0%, #BE45FF 50%, #FF455B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 450px) {
  .card {
    padding: 30px 56px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 30px 168px;
  text-align: center;
  background-color: #72FFFF;
  color: white;
  margin: 10px 0px;
}

.fa {
  font-size: 50px;
}

/* insta-cont */
.insta-cont {
  background-color: #1D1F20;
  height: 120vh;
}


/* follow button */
.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  top: 5vw;
  left: 43vw;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(to left,
      #005a9a 0%,
      #00D7FF 8%,
      #0096FF 92%,
      #005a9a 100%);
}

.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: white;
  background: #8645ff;
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition:
    transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition:
    transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

/* Instagram Cards */
.main {
  margin: 0 15vw;
  display: grid;
  grid-template-columns: repeat(2, 24vw);
  position: relative;
  top: 12vw;
  justify-content: center;
  grid-gap: 20rem;
}

.insta {
  width: 23vw;
  height: 40vw;
}

.insta video {
  width: 23vw;
  height: 40vw;
  cursor: pointer;
  border-radius: var(--borderWidth);
}



.gradient-border {
  --borderWidth: 4px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
  z-index: 99;
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* media queries for insta-cont */

@media screen and (max-width: 1100px) {
  .insta-cont {
    height: 80vh;
  }

  #instagram {
    font-size: 4rem;
  }

  .pushable {
    top: 8vw !important;
    left: 42vw !important;
  }

  .main {
    top: 16vw !important;
    grid-template-columns: repeat(2, 24vw);
    grid-template-rows: repeat(2, 30vw);
  }
}

@media screen and (max-width: 800px) {
  .insta-cont {
    height: 150vw;
  }

  #instagram {
    font-size: 2.5rem
  }

  .pushable {
    top: 8vw !important;
    left: 42vw !important;
  }

  .main {
    top: 16vw !important;
    grid-template-columns: repeat(1, 24vw);
    grid-template-rows: repeat(2, 10vw);
  }

  .insta {
    width: 30vw;
    height: 50vw;
  }

  .insta video {
    width: 30vw;
    height: 50vw;
  }
}

@media screen and (max-width: 550px) {
  .insta-cont {
    height: 120vh;
  }

  #instagram {
    font-size: 2rem
  }

  .pushable {
    top: 8vw !important;
    left: 37vw !important;
  }

  .main {
    top: 16vw !important;
    grid-template-columns: repeat(1, 30vw);
    grid-template-rows: repeat(1, 1vw);
  }

  .insta {
    width: 38vw;
    height: 68vw;
  }

  .insta video {
    width: 38vw;
    height: 68vw;
  }
}

/* parallax */
.parallax2 {
  /* The color used */
  /* background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); */
  opacity: 0%;
  /* Full height */
  height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* back to top button  */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}